*{
    margin: 0;
    padding: 0;
    font-family: 'Lemon', sans-serif; 
}

body{
    display: grid;
    grid-template-areas: "aside header" 
                         "aside main";
    grid-template-columns: 1% 99%;
    /* grid-template-rows: 0.4fr 2fr; */
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
    background-color: #514EF7;
    padding: 3vh 3vw;
    height: 10vh;
}

.header-primeira-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.header-primeira-div img{
    height: 7vh;
}

#header-paragrafo-unimaps{
    color: white;
}

#deslogarse{
    background-color:#a8a7ff;
    border: 2px solid black;
    width: 8vw;
    height: 6vh;
    font-size: 14px;
}


aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    grid-area: aside;
    background-color: #413DFF;
    width: 3vh;
    transition: width 0.3s ease;
    position: fixed;
    top: 0;
    height: 100%;
}

.div-elementos-navegacao{
    display: flex;
    flex-direction: column;
    padding: 4vh;
    gap: 25px;
}

#Home, #Mapa, #Grupos, #Dica, #Chatbot, #notificacoes{
    display: none;
    height: 5.5vh;
    width: 3vw;
}

#Dica{
    width: 2.5vw;
}

#notificacoes{
    width: 2vw;
    padding: 2vw;
}

aside:hover{
    width: 6vw;
}

aside:hover #Home, aside:hover #Mapa, aside:hover #Grupos, aside:hover #Dica, aside:hover #Chatbot, aside:hover #notificacoes{
    display: flex;
}

/* ---------- MAIN ---------- */

main {
    grid-area: main;
    display: grid;
    text-align: center;
    gap: 10px;
    grid-template-areas:
        "p p"
        "nome div"
        "atalhos atalhos";
    grid-template-rows: 0.3fr 1fr 1fr; 
    grid-template-columns: 1fr; 
    padding: 10vh 15vh 10vh 15vh;
}

#nome_usuario{
    grid-area: p;
    font-size: 25px;
    font-weight: 600;
}

.primeira-div-home{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    padding: 2vh 4vw;
}

.primeira-div-home_atalhos{
    gap: 20px;
    background-color: #EEEEEE;
    padding: 12vh;
    border-radius: 20px;
}

.primeira-div-home_atalhos img{
    height: 18vh;
}

.primeira-div-home_atalhos:hover{
    background-color: #c2c2c2;
}