*{
    margin: 0;
    padding: 0;
    font-family: "League Spartan", sans-serif;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to bottom, #2581FF, #E726FF);
    background-size: 100% 200%; 
    animation: waveAnimation 10s linear infinite; 
}

@keyframes waveAnimation {
    0% {
        background-position: 0% 0%; /* Começa do topo */
    }
    50% {
        background-position: 100% 100%; /* Chega ao ponto mais baixo */
    }
    100% {
        background-position: 0% 0%; /* Volta ao topo */
    }
}

.primeira-div_cadastro{
    display: flex;
    justify-content: space-around;
    gap: 40px;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 16vh 26vh;
    border-radius: 10px;
}

.primeira-div_cadastro p{
    font-size: 40px;
    color: black;
    font-weight: 600;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input{
    font-size: 20px;
    padding: 1.5vh;
    border-radius: 10px;
    width: 30vw;
}

button{
    padding: 1.5vh;
    border-radius: 5px;
    background-color: #4290FB;
    color: white;
    font-weight: 600;
    font-size: 18px;
}